@import "./reset.scss";

$borderColor: rgba($color: #000, $alpha: 0.4);
$borderWidth: 2px;

body {
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}

.header {
  .header__nav {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
      gap: $borderWidth;
      background-color: $borderColor;

      .header__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        background-color: white;
        font-size: 19px;

        &:nth-child(6) {
          text-transform: uppercase;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
  }

  .header__breadcrumbs {
    padding: 6px 0 6px 30px;
    border-top: $borderWidth solid $borderColor;
    border-bottom: $borderWidth solid $borderColor;
    font-size: 13px;

    .header__crumb:last-child {
      opacity: 0.6;
    }
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: $borderWidth;
  background-color: $borderColor;

  .product__img {
    background: url("https://source.unsplash.com/random") center/cover;
  }

  .product__info {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: $borderWidth;

    .product__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding-left: 70px;
      background-color: white;
      font-weight: 600;
      .product__category {
        font-size: 20px;
        text-transform: uppercase;
      }
      .product__title {
        font-size: 70px;
      }
      .product__add-to-cart {
        display: flex;
        gap: 90px;
        margin-top: 50px;
        font-size: 38px;
        .product__qty {
          .product__minus {
            opacity: 0.6;
          }
        }
      }
    }

    .product__footer {
      display: grid;
      grid-template-columns: 1fr 1.3fr;
      gap: $borderWidth;

      &>div {
        background-color: white;
      }

      .product__description p,
      .product__question {
        margin: 0 auto;
        font-size: 20px;
      }
      
      .product__description p {
        width: 70%;
        padding: 35px 0;
      }

      .product__faq {
        padding: 35px 0;

        .product__question {
          display: flex;
          justify-content: space-between;
          width: 80%;
          padding: 10px 0;
          border-bottom: $borderWidth solid $borderColor;
          font-weight: 600;
          text-transform: uppercase;
          &:first-child {
            padding: 0 0 10px 0;
          }
        }
      }
    }
  }
}